<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brian.ecommerce">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ECOMMERCE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommerce"
        tools:replace="android:icon, android:label, android:theme">
        <activity
            android:name=".SearchProductsActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.HomeActivity" />
        </activity>
        <activity
            android:name=".AdminUserProductActivity"
            android:exported="true" />
        <activity
            android:name=".AdminNewOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".ConfirmFinalOrderActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.ProductDetailsActivity" />
        </activity>
        <activity
            android:name=".AdminAddNewProductActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.AdminCategoryActivity" />
        </activity>
        <activity
            android:name=".AdminCategoryActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.MainActivity" />
        </activity>
        <activity
            android:name=".CartActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.HomeActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.MainActivity" />
        </activity>
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.HomeActivity" />
        </activity>
        <activity
            android:name=".SettinsActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ECommerce.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brian.ecommerce.MainActivity" />
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.ECommerce.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>